<div class="container">
  <div class="weather-side">
    <div class="weather-gradient"></div>
    <div class="date-container">
      <h2 class="date-dayname">{{ weatherCity.cityname }}</h2>
      <span class="location">UA</span>
    </div>
    <div class="weather-icon">
      <img src="{{ weatherIconUrl }}{{weatherCity.icon }}{{ weatherIconSize }}"/>
    </div>
    <div class="weather-container"><i class="weather-icon" data-feather="sun"></i>
      <h1 class="weather-temp">{{ weatherCity.temp }}°C</h1>
      <h3 class="weather-desc">{{ weatherCity.main }}</h3>
    </div>
  </div>
  <div class="info-side">
    <div class="today-info-container">
      <div class="today-info">
        <div class="today-info-el"> <span class="title">FEELS LIKE:</span><span class="value">{{weatherCity.temp}} °C</span>
          <div class="clear"></div>
        </div>
        <div class="today-info-el"> <span class="title">HUMIDITY:</span><span class="value">{{weatherCity.humidity}} %</span>
          <div class="clear"></div>
        </div>
        <div class="today-info-el"> <span class="title">WIND SPEED:</span><span class="value">{{weatherCity.wind_speed}} km/h</span>
          <div class="clear"></div>
        </div>
        <div class="today-info-el"> <span class="title">WIND DEGREE:</span><span class="value">{{weatherCity.wind_deg}}</span>
          <div class="clear"></div>
        </div>
        <div class="today-info-el"> <span class="title">WIND GUST:</span><span class="value">{{weatherCity.wind_gust}} </span>
          <div class="clear"></div>
        </div>
        <div class="today-info-el"> <span class="title">SEA LEVEL:</span><span class="value">{{weatherCity.humidity}}</span>
          <div class="clear"></div>
        </div>
        <div class="today-info-el"> <span class="title">GROUND LEVEL:</span><span class="value">{{weatherCity.grnd_level}}</span>
          <div class="clear"></div>
        </div>
      </div>
      <div class="location-container">
        <button class="location-button"> <i data-feather="map-pin"></i><span (click) = "removeCity(weatherCity)">Remove city</span></button>
      </div>
    </div>
  </div>
</div>
