<section class="weather-search">
  <form [formGroup]="locationGroup">
    <input #location matInput 
      formControlName="location" 
      id="city" name="city" type="text" 
      placeholder="Search for a city" 
      (input)="onSearchLocation(location.value)" [required]="true"
      autofocus>
    <button type="submit" (click)="onSubmit(locationGroup)">Add city</button>
    <button type="button" (click) = "onSaveNew()">Save list</button>
    <button type="button" (click)="clearWeatherData()">Clear all</button>
  </form>
</section>